.button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #375f7e;
    height: 60px;
    width: 200px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    
    }